@import '../../mixins.scss';
.product-card{
    width: calc(50% - 5px);
    margin-bottom: 20px;
    @include md{
        width: calc(25% - 15px);
    }
    .thumbnail{
        width: 100%;
        background-color: rgba(0,0,0,0.05);
        margin-bottom: 10px;
        padding: 25px;
        display: flex;
        align-items: center;
        img {
            transition: all 0.3s ease-in;
            display: block;
            width: 100%;
            object-fit: contain;
            aspect-ratio: 3/4;
            object-position: center;
           
        }
    }
    .product-details{
        .name{
            font-size: 14px;
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            @include  md{
                font-size: 16px;
                margin-bottom: 10px;
            }
        }
        .price{
            font-size: 18px;
            @include md{
                font-size: 20px;
            }
        }
    }
    &:hover{
        .thumbnail{
            img{
                transform: scale(1.2);
            }
        }
    }
}